.Skills {
    padding: 50px 10%;
}

.SkillsBody {
    margin-top: 50px;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Skill {
    margin: 7px 10px;
    padding: 7px 25px;
    font-size: 1.1rem;
    background-color: #333333 !important;
    color: #DDDDDD !important;
    border-radius: 7px !important;
    cursor: pointer;
}

.Skill:hover, .Skill:focus {
    box-shadow: 1px 2px #777777;
}