.link {
    color: inherit;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
    font-size: 1rem;
    text-decoration: none;
}

.buttonBase {
    border-radius: 5px !important;
}

.desktopOnly {
    display: none;
}

.mobileOnly {
    cursor: pointer;
}

.menuIcon {
    
}

@media only screen and (min-width: 700px) {
    .desktopOnly {
        display: inline;
    }

    .mobileOnly {
        display: none;
    }
}