.list {
    width: 130px;
    background-color: #090909;
    height: 100%;
}

.link {
    color: #cccccc;
    width: 100%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 15px;
}

.buttonBase {
    width: 100%;
    text-align: left;
}

.link:hover, .link:focus, .link:active {
    color: white;
    font-weight: bold;
}