.Card {
    width: 48%;
    box-sizing: border-box;
    margin: 15px 0;
    
    padding: 20px 40px;
}

.duration {
    color: #555555;
}

.text {
    margin-top: 20px !important;
    font-size: 1.1rem !important;
    line-height: 2rem !important;
}